<<<<<<< HEAD
@charset "UTF-8";

* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color: #333;}
html, body {height: 100%;}

=======
@charset "UTF-8";

* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color: #333;}
html, body {height: 100%;}

>>>>>>> 2109761479d37ec2ae4c6f36466a59b072437b2b
